@import "_variables.scss";

* {
  box-sizing: border-box;
}

html,
body {
  font-size: 17px;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  padding-top: 5ch;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}

h1,
h2,
h3 {
  margin: 0 0 0.5ch 0;
}

img {
  user-select: none;
}

p {
  margin: 2ch 0 0 0;

  a {
    text-decoration: underline;
  }
}

header {
  color: #fff;
  background: $primary;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#primary-nav {
  a {
    margin: 1ch;
    padding: 0.3ch;
    text-decoration: none;
  }

  a.nuxt-link-exact-active {
    border-bottom: 1.5px solid #fff;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 0 2ch;
  max-width: 1280px;
  width: 100%;
}

.fp-img {
  border-radius: 5px;
}

.selfie {
  img {
    height: 350px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    border-radius: 5px;
  }

  p {
    font-size: 0.9em;
    font-style: italic;
    color: #7a7a7a;
  }
}

.blue-hr {
  margin: 4ch 0;
  height: 1px;
  background-color: #0a81d1;
  border: none;
}

ul.about {
  list-style-position: inside;
  margin-left: 3ch;

  li {
    list-style-type: none;
    margin: 1.5ch 0;
    position: relative;

    &:before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2' height='25' width='25'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M14.121 14.121L19 19m-7-7l7-7m-7 7l-2.879 2.879M12 12L9.121 9.121m0 5.758a3 3 0 10-4.243 4.243 3 3 0 004.243-4.243zm0-5.758a3 3 0 10-4.243-4.243 3 3 0 004.243 4.243z' /%3E%3C/svg%3E");
      position: absolute;
      top: 0px;
      left: -30px;
    }
  }
}

/* Priser & ydelser */
ul.pricelist {
  width: 100%;
  max-width: 500px;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}

ul.pricelist li {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

ul.pricelist li:after {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
}

ul.pricelist span:first-child {
  padding-right: 0.33em;
  background: white;
}

ul.pricelist span + span {
  float: right;
  padding-left: 0.3em;
  background: white;
  position: relative;
  z-index: 1;
}

/* Galleri */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 2ch;
  justify-content: center;

  .gallery-item {
    height: 250px;
    border-radius: 5px;
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    overflow: hidden;

    &:hover {
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.5) 0px 2px 16px 0px;
      cursor: pointer;
    }

    &.add-image {
      box-shadow: none;
      border: 4px dashed #ddd;
      background-color: #efefef;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4em;
      font-weight: 300;
      color: #aaa;
      user-select: none;

      &:hover {
        box-shadow: none;
      }
    }
  }

  &.admin {
    .gallery-item {
      position: relative;

      & > .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.25s ease;
        background-color: #00000085;
        display: flex;
        justify-content: center;
        align-items: center;

        > .warning {
          color: #fff;
          background-color: #dc3545;
          border-color: #dc3545;
          font-weight: 600;
          padding: 6px 12px;
          border-radius: 5px;
          display: flex;
          align-items: center;

          > .trashcan {
            margin: 0 0 0 0.5em;
            fill: #fff;
            height: 1em;
          }
        }
      }

      &:hover {
        .overlay {
          opacity: 1;
        }
      }
    }
  }
}

/* Kontakt */
table.contact {
  td {
    padding: 0.5ch 0;

    &:first-of-type {
      padding-right: 2ch;
    }
  }
}

/* Footer */
footer {
  height: 160px;
  background-color: $primary;
  color: #fff;
  text-align: center;
  padding: 2.5ch 0;
  margin: 35px 0 0 0;

  p {
    margin: 1ch 0;
  }
}

/* Burger menu */
.tk-burger {
  /* Burger icon */
  .bm-burger-button {
    margin-top: 12px;
    span {
      background: #fff;
      border-radius: 3px;
    }
  }

  /* Mobile nav menu */
  .bm-menu {
    background-color: #fff;
    box-shadow: 4px 10px 10px 1px #000;
    > .bm-item-list {
      > a {
        color: #000;
      }
    }
  }
}

/* Page transition */
.layout-enter-active,
.page-enter-active,
.layout-leave-active,
.page-leave-active {
  transition: opacity 400ms, transform 400ms;
}

.layout-enter,
.page-enter {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}

.layout-enter-to,
.page-enter-to {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.layout-leave,
.page-leave {
  opacity: 1;
}

.layout-leave-to,
.page-leave-to {
  opacity: 0;
}

/* Buttons */
button.login {
  padding-top: 0.42rem;
  padding-bottom: 0.42rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #3490dc;
  color: #fff;
  border-radius: 5px;
}
