<template>
  <footer>
    <p>Tinas Klip & Krøl © {{ currentYear }}</p>
    <p>Tlf: <a href="tel:004520359204">20 35 92 04</a></p>
    <p>CVR: <a href="https://datacvr.virk.dk/enhed/virksomhed/27162029?fritekst=27162029&sideIndex=0&size=10" target="_blank">27162029</a></p>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      currentYear: new Date().getFullYear(),
    };
  },
};
</script>

<style></style>
