<template>
  <main>
    <CoolLightBox
      v-if="!$auth.loggedIn"
      :items="images"
      :thumb="images"
      :index="index"
      @close="index = null"
    />
    <div class="wrapper">
      <h1>Galleri</h1>

      <div v-if="!$auth.loggedIn">
        <div class="gallery-grid" v-if="fetchedImages">
          <div
            class="gallery-item"
            v-for="(thumbnail, thumbnailIndex) in thumbnails"
            :key="thumbnailIndex"
            @click="index = thumbnailIndex"
            :style="{
              backgroundImage: `url(${thumbnail})`,
            }"
          ></div>
        </div>
        <!-- Skeleton loading -->
        <div class="gallery-grid" v-else>
          <Skeleton :height="250" v-for="i in 8" :key="i" />
        </div>
      </div>

      <!-- Admin images -->
      <div class="gallery-grid admin" v-if="$auth.loggedIn">
        <div
          class="gallery-item"
          v-for="image in adminImages"
          :key="image.id"
          @click="handleDeleteImage(image.id)"
          :style="{
            backgroundImage: `url(${image.thumbnail})`,
          }"
        >
          <div class="overlay">
            <div class="warning">
              <span>Slet billede</span>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="trashcan"
                viewBox="0 0 448 512"
              >
                <path
                  d="M135.2 17.69C140.6 6.848 151.7 0 163.8 0H284.2C296.3 0 307.4 6.848 312.8 17.69L320 32H416C433.7 32 448 46.33 448 64C448 81.67 433.7 96 416 96H32C14.33 96 0 81.67 0 64C0 46.33 14.33 32 32 32H128L135.2 17.69zM31.1 128H416V448C416 483.3 387.3 512 352 512H95.1C60.65 512 31.1 483.3 31.1 448V128zM111.1 208V432C111.1 440.8 119.2 448 127.1 448C136.8 448 143.1 440.8 143.1 432V208C143.1 199.2 136.8 192 127.1 192C119.2 192 111.1 199.2 111.1 208zM207.1 208V432C207.1 440.8 215.2 448 223.1 448C232.8 448 240 440.8 240 432V208C240 199.2 232.8 192 223.1 192C215.2 192 207.1 199.2 207.1 208zM304 208V432C304 440.8 311.2 448 320 448C328.8 448 336 440.8 336 432V208C336 199.2 328.8 192 320 192C311.2 192 304 199.2 304 208z"
                />
              </svg>
            </div>
          </div>
        </div>

        <!-- New image -->
        <div class="gallery-item add-image" @click="handleAddImage">
          &#65291;
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import CoolLightBox from "vue-cool-lightbox";
import Swal from "sweetalert2";
import "vue-cool-lightbox/dist/vue-cool-lightbox.min.css";

export default {
  components: {
    CoolLightBox,
  },
  data() {
    return {
      index: null,
      images: [],
      thumbnails: [],
      adminImages: [],
      fetchedImages: false,
    };
  },

  methods: {
    /* Get images */
    async getImages() {
      /* Skeleton loading??? */
      // await fetch("http://localhost:3001/images/", {
      await fetch("https://tinasklip-api.herokuapp.com/images/", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          "access-control-allow-origin": "*",
        },
      })
        .then(async (res) => res.json())
        .then(async (res) => {
          this.fetchedImages = true;

          for (let i = 0; i < res.length; i++) {
            let imageId = res[i]._id;
            // let src = `http://localhost:3001/images/image/${imageId}`;
            // let thumb = `http://localhost:3001/images/image/thumbnail/${imageId}`;
            let src = `https://tinasklip-api.herokuapp.com/images/image/${imageId}`;
            let thumb = `https://tinasklip-api.herokuapp.com/images/image/thumbnail/${imageId}`;
            this.images.push(src);
            this.thumbnails.push(thumb);

            /* If admin */
            if (this.$auth.loggedIn)
              this.adminImages.push({
                id: res[i]._id,
                src: src,
                thumbnail: thumb,
              });
          }
        });
    },

    /* Add image */
    async handleAddImage() {
      const that = this;
      const { value: file } = await Swal.fire({
        title: "Tilføj billede",
        input: "file",
        showCancelButton: true,
        cancelButtonText: "Fortryd",
        confirmButtonText: "Tilføj",
        inputAttributes: {
          accept: "image/*",
          "aria-label": "Tilføj nyt billede",
        },
      });

      if (file) {
        const formData = new FormData();
        formData.append("image", file);
        // await fetch(`http://localhost:3001/images/upload`, {
        await fetch(`https://tinasklip-api.herokuapp.com/images/upload`, {
          method: "POST",
          headers: {
            "access-control-allow-origin": "*",
          },
          body: formData,
        })
          .then(async (res) => res.json())
          .then(async (res) => {
            if (res.error)
              return Swal.fire({
                icon: "error",
                title: "Noget gik galt! Prøv igen.",
              });

            // const newImage = {
            //   id: res.image._id,
            //   src: `http://localhost:3001/images/image/${res.image._id}`,
            //   thumbnail: `http://localhost:3001/images/image/thumbnail/${res.image._id}`,
            // };

            const newImage = {
              id: res.image._id,
              src: `https://tinasklip-api.herokuapp.com/images/image/${res.image._id}`,
              thumbnail: `https://tinasklip-api.herokuapp.com/images/image/thumbnail/${res.image._id}`,
            };

            that.adminImages = [...that.adminImages, newImage];

            return Swal.fire({
              icon: "success",
              title: "Billede tilføjet!",
            });
          });
      }
    },

    /* Delete image */
    async handleDeleteImage(id) {
      return Swal.fire({
        title: "Vil du slette billedet?",
        text: "Denne handling kan ikke fortrydes!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        cancelButtonText: "Fortryd",
        confirmButtonText: "Ja, slet billedet!",
      }).then(async (result) => {
        if (result.dismiss) return;

        // await fetch(`http://localhost:3001/images/${id}`, {
        await fetch(`https://tinasklip-api.herokuapp.com/images/${id}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
            "access-control-allow-origin": "*",
          },
        })
          .then(async (res) => res.json())
          .then(async (res) => {
            if (res.error)
              return Swal.fire({
                icon: "error",
                title: "Noget gik galt! Prøv igen.",
              });

            const updatedImages = this.adminImages.filter((image) => {
              return image.id !== res.id;
            });

            this.adminImages = updatedImages;
            Swal.fire("Slettet!", "Billedet blev slettet.", "success");
          });
      });
    },

    /* Lightbox */
    handleOpen(e) {
      console.log(e);
    },
  },

  mounted() {
    this.getImages();
  },
};
</script>
