<template>
  <main>
    <div class="wrapper">
      <div class="grid gap-4 lg:grid-cols-2 md:grid-cols-1">
        <div class="grid-col">
          <h1>Velkommen hos Tinas Klip & Krøl</h1>
          <h2>Din mobilfrisør på Fyn og omegn</h2>
          <img src="/img/fp_img.jpg" class="fp-img" alt="Tina i sin bil" />
        </div>

        <div class="grid grid-col">
          <iframe
            class="md:ml-auto facebook-iframe"
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100063598132785&tabs=timeline&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=810184669329517"
            width="500"
            height="500"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
          ></iframe>
        </div>
      </div>
      <Carousel />
    </div>
  </main>
</template>

<script>
export default {
  name: "IndexPage",
  layout: "default",
};
</script>

<style lang="scss" scoped>
@media only screen and (max-width: 1024px) {
  .facebook-iframe {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 535px) {
  .facebook-iframe {
    display: none;
  }
}
</style>
