<template>
  <main>
    <div class="wrapper text-center">
      <div class="grid grid-cols-1">
        <div class="grid-col">
          <h1>Kontakt</h1>
        </div>
      </div>
      <div class="grid md:grid-cols-2 sm:grid-cols-1">
        <div class="grid-col mb-5">
          <h2>For tidsbestilling</h2>
          <p>
            Ring til mig på tlf.: <a href="tel:004520359204">20 35 92 04</a>
          </p>
          <p>
            Eller send en e-mail til
            <a href="mailto:tinasklip@gmail.com">tinasklip@gmail.com</a>
          </p>
          <p>Jeg kører på hele Fyn og omegn.</p>
        </div>

        <div class="grid-col">
          <h2>Telefontid</h2>
          <table class="contact text-left mx-auto">
            <tbody>
              <tr>
                <td>Mandag</td>
                <td>07:00 - 18:00</td>
              </tr>
              <tr>
                <td>Tirsdag</td>
                <td>07:00 - 18:00</td>
              </tr>
              <tr>
                <td>Onsdag</td>
                <td>07:00 - 18:00</td>
              </tr>
              <tr>
                <td>Torsdag</td>
                <td>07:00 - 18:00</td>
              </tr>
              <tr>
                <td>Fredag</td>
                <td>07:00 - 18:00</td>
              </tr>
              <tr>
                <td>Lørdag</td>
                <td>Lukket</td>
              </tr>
              <tr>
                <td>Søndag</td>
                <td>Lukket</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {};
</script>

<style scoped>
#map {
  width: 100%;
  height: 300px;
}
</style>
