<template>
  <div class="wrapper">
    <h1>Log ind</h1>
    <div
      class="login bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col"
    >
      <form @submit.prevent="handleLogin">
        <label
          class="block text-grey-darker text-sm font-bold mb-2"
          for="username"
        >
          Brugernavn
        </label>
        <input
          v-model="username"
          class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3"
          type="text"
          name="username"
          id="username"
        />

        <label
          class="block text-grey-darker text-sm font-bold mb-2"
          for="password"
        >
          Adgangskode
        </label>
        <input
          v-model="password"
          class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3"
          type="password"
          name="password"
          id="password"
        />
        <button type="submit" class="login">Log ind</button>
      </form>
    </div>

    <div class="register" v-if="register">
      <h1>Register</h1>
      <form @submit.prevent="handleRegister" method="POST">
        <input
          v-model="newUsername"
          type="text"
          name="newUsername"
          id="newUsername"
        />
        <input
          v-model="newPassword"
          type="password"
          name="newPassword"
          id="newPassword"
        />
        <button type="submit">Register</button>
      </form>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";

export default {
  name: "LoginView",
  data() {
    return {
      username: "",
      password: "",

      register: false,
      newUsername: "",
      newPassword: "",
    };
  },

  methods: {
    async handleRegister() {
      // await fetch("http://localhost:3001/api/auth/register", {
      await fetch("https://tinasklip-api.herokuapp.com/api/auth/register", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "access-control-allow-origin": "*",
        },
        body: JSON.stringify({
          username: this.newUsername,
          password: this.newPassword,
        }),
      })
        .then(async (res) => res.json())
        .then(async (res) => {
          console.log(res);
        });
    },

    async handleLogin() {
      await this.$auth
        .loginWith("local", {
          data: {
            username: this.username,
            password: this.password,
          },
        })
        .then((e) => {
          /* Login success */
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });

          Toast.fire({
            icon: "success",
            title: "Velkommen!",
          });
        })
        .catch((e) => {
          /* Login error */
          return Swal.fire({
            icon: "error",
            title: "Forkert brugernavn eller adgangskode.",
            text: "Prøv igen.",
          });
        });
    },
  },
};
</script>
