<template>
  <main>
    <div class="wrapper">
      <div class="grid md:grid-cols-2 gap-4 sm:grid-cols-1">
        <div class="grid-col">
          <h1>Lidt om mig selv</h1>
          <p>
            Jeg er uddannet frisør i Odense. Efter nogle år, hvor jeg har
            arbejdet hos forskellige frisørmestre, uddannede jeg mig til social-
            og sundhedshjælper i 2012.
          </p>
          <p>
            I 5 år har jeg arbejdet med ældre, psykisk- og fysisk handicappede
            samt demente borgere. Nu forener jeg mine to uddannelser ved at
            udføre professionelt frisørarbejde ude hos mine kunder, så
            frisøroplevelsen bliver rar og afslappet hjemme i kendte og trygge
            omgivelser.
          </p>
        </div>

        <div class="grid-cols-1">
          <div class="grid-col selfie">
            <!-- TODO: optimize image for NUXT!!! -->
            <img src="/img/tina.JPG" alt="Tina" />
            <p class="text-center my-2">Tina Andersen</p>
          </div>
        </div>
      </div>

      <hr class="blue-hr" />

      <div class="grid md:grid-cols-2 sm:grid-cols-1">
        <div class="grid-col">
          <ul class="about">
            <li>
              Hårpleje hjem til dig, som har vanskeligheder ved at komme ud, men
              som alligevel gerne vil have en professionelt udført klipning
            </li>
            <li>Jeg lægger vægt på at have god tid til en behandling</li>
            <li>
              Du er i centrum, i fællesskab finder vi lige den frisure og stil,
              der passer til dig
            </li>
            <li>Jeg arbejder altid med et smil på læben og godt humør</li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "AboutPage",
  layout: "default",
};
</script>
