<template>
  <main>
    <div class="wrapper">
      <h1 class="text-center">Priser & ydelser</h1>

      <div
        v-if="$auth.loggedIn"
        style="margin: 0 auto; display: block; max-width: max-content"
      >
        <button
          @click="createService = !createService"
          class="new-service button"
        >
          Tilføj ydelse
        </button>

        <div v-show="createService">
          <form @submit.prevent="handleNewService">
            <div>
              <label for="newServiceName">Navn på ydelse</label>
              <input type="text" v-model="newServiceName" id="newServiceName" />
            </div>

            <div>
              <label for="newServicePrice">Pris</label>
              <input
                type="text"
                v-model="newServicePrice"
                id="newServicePrice"
              />
            </div>

            <button class="create-service button my-2" type="submit">
              Opret ydelse
            </button>
          </form>
        </div>
      </div>

      <ul class="pricelist mx-auto" v-if="fetchedServices">
        <li v-for="service in services" :key="service.id">
          <span> {{ service.name }}</span>

          <span v-if="$auth.loggedIn">
            <!-- Edit service -->
            <button
              class="edit-service"
              @click="
                handleEditService(service._id, service.name, service.price)
              "
            >
              &#128394;
            </button>
            <!-- Delete service -->
            <button
              class="delete-service"
              @click="handleDeleteService(service._id)"
            >
              &#11199;
            </button>
          </span>

          <span>{{ service.price }} kr.</span>
        </li>
      </ul>
      <!-- Skeleton loading -->
      <ul class="skeleton-pricelist mx-auto" v-else>
        <li v-for="i in 8" :key="i">
          <Skeleton :height="30" />
        </li>
      </ul>
    </div>
  </main>
</template>

<script>
import Swal from "sweetalert2";
export default {
  name: "PriserView",
  data() {
    return {
      services: [],
      createService: false,
      newServiceName: "",
      newServicePrice: "",
      fetchedServices: false,
    };
  },

  methods: {
    /* Get services */
    async getServices() {
      // await fetch("http://localhost:3001/services/", {
      await fetch("https://tinasklip-api.herokuapp.com/services/", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          "access-control-allow-origin": "*",
        },
      })
        .then(async (res) => res.json())
        .then(async (res) => {
          this.fetchedServices = true;
          this.services = [...res];
        });
    },

    async handleDeleteService(id) {
      return Swal.fire({
        title: "Vil du slette ydelsen?",
        text: "Denne handling kan ikke fortrydes!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        cancelButtonText: "Fortryd",
        confirmButtonText: "Ja, slet ydelse!",
      }).then(async (result) => {
        if (result.dismiss) return;

        // await fetch(`http://localhost:3001/services/${id}`, {
        await fetch(`https://tinasklip-api.herokuapp.com/services/${id}`, {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
            "access-control-allow-origin": "*",
          },
        })
          .then(async (res) => res.json())
          .then(async (res) => {
            if (res.error)
              return Swal.fire({
                icon: "error",
                title: "Noget gik galt! Prøv igen.",
              });

            const updatedServices = this.services.filter((service) => {
              return service._id !== res.id;
            });

            this.services = updatedServices;
            Swal.fire("Slettet!", "Ydelsen blev slettet.", "success");
          });
      });
    },

    /* Create new service */
    async handleNewService() {
      // await fetch("http://localhost:3001/services/", {
      await fetch("https://tinasklip-api.herokuapp.com/services/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "access-control-allow-origin": "*",
        },
        body: JSON.stringify({
          name: this.newServiceName,
          price: this.newServicePrice,
        }),
      })
        .then(async (res) => res.json())
        .then(async (res) => {
          /* If error */
          if (!res.success)
            return Swal.fire({
              icon: "error",
              title: "Ugyldig ydelse! Prøv igen.",
            });

          /* Service successfully added */
          this.services = [...this.services, res.success];
          this.newServiceName = this.newServicePrice = "";
          return Swal.fire({
            position: "center",
            icon: "success",
            title: "Ydelse tilføjet!",
            showConfirmButton: false,
            timer: 1500,
          });
        });
    },

    async handleEditService(id, currentName, currentPrice) {
      Swal.fire({
        title: "Redigér ydelse",

        html:
          `<input id="swal-service-name" class="swal2-input" value="${currentName}">` +
          `<input id="swal-service-price" class="swal2-input" value="${currentPrice}">`,

        showCancelButton: true,
        cancelButtonText: "Fortryd",
        confirmButtonText: "Opdatér ydelse",
        showLoaderOnConfirm: true,

        preConfirm: async () => {
          const newServiceName =
            document.querySelector("#swal-service-name").value;
          const newServicePrice = document.querySelector(
            "#swal-service-price"
          ).value;

          if (!newServiceName || !newServicePrice)
            return Swal.fire({
              position: "center",
              icon: "error",
              title: "Ugyldig data modtaget. Prøv igen!",
              showConfirmButton: false,
              timer: 1500,
            });

          // await fetch(`http://localhost:3001/services/${id}`, {
          await fetch(`https://tinasklip-api.herokuapp.com/services/${id}`, {
            method: "PATCH",
            headers: {
              "Content-Type": "application/json",
              "access-control-allow-origin": "*",
            },
            body: JSON.stringify({
              name: newServiceName,
              price: newServicePrice,
            }),
          })
            .then(async (res) => res.json())
            .then(async (res) => {
              if (res.error)
                return console.log("ERROR UPDATING SERVICE:", res.error);

              const updatedServices = [...this.services];

              updatedServices.map((service, index) => {
                if (service._id == res.service._id) {
                  updatedServices[index].name = res.service.name;
                  updatedServices[index].price = res.service.price;
                }
              });

              this.services = updatedServices;
            })
            .catch((error) => {
              Swal.showValidationMessage(`Request failed: ${error}`);
            });
        },
        allowOutsideClick: () => !Swal.isLoading(),
      }).then((result) => {
        if (result.value == true) {
          return Swal.fire({
            position: "center",
            icon: "success",
            title: "Ydelse opdateret!",
            showConfirmButton: false,
            timer: 1500,
          });
        }
      });
    },
  },

  mounted() {
    this.getServices();
  },
};
</script>

<style lang="scss" scoped>
ul.skeleton-pricelist {
  width: 100%;
  max-width: 500px;
  padding: 0;
  overflow-x: hidden;
  list-style: none;

  li {
    margin: 1.5ch 0;
  }
}

input {
  display: block;

  &[type="text"] {
    border: 1px solid #000;
  }
}

.button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.new-service {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.create-service {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.delete-service {
  color: #dc3545 !important;
  font-size: 22px;
  line-height: 2.1ch;
}

.edit-service {
  color: #dc3545 !important;
  font-size: 14px;
  line-height: 0;
}
</style>
