<template>
  <main>
    <h1 v-if="error.statusCode === 404">Siden blev ikke fundet.</h1>
    <h1 v-else>UPS! Der skete en fejl - {{ error.statusCode }}</h1>
    <h2>Tilbage til <NuxtLink to="/">forside</NuxtLink></h2>
  </main>
</template>

<style scoped>
main {
  max-width: 1140px;
  margin: 0 auto;
}
</style>

<script>
export default {
  props: ["error"],
  layout: "error",
};
</script>
