<template>
  <div class="mt-10" v-if="images.length">
    <agile :options="options">
      <div
        class="slide"
        :class="'slide--' + imageIndex"
        v-for="(image, imageIndex) in images"
        :key="imageIndex"
      >
        <img :src="image" alt="Tilfreds kunde" />
      </div>
    </agile>
  </div>
</template>

<script>
export default {
  name: "Carousel",

  methods: {
    async getImages() {
      /* Skeleton loading??? */
      // await fetch("http://localhost:3001/images/", {
      await fetch("https://tinasklip-api.herokuapp.com/images", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          "access-control-allow-origin": "*",
        },
      })
        .then(async (res) => res.json())
        .then(async (res) => {
          for (let i = 0; i < res.length; i++) {
            let imageId = res[i]._id;
            // let thumb = `http://localhost:3001/images/image/thumbnail/${imageId}`;
            let thumb = `https://tinasklip-api.herokuapp.com/images/image/thumbnail/${imageId}`;
            this.images.push(thumb);
          }
        });
    },
  },

  mounted() {
    this.getImages();
  },

  data() {
    return {
      options: {
        autoplay: true,
        autoplaySpeed: 3000,
        infinite: true,
        slidesToShow: 5,
        navButtons: false,
        dots: false,

        responsive: [
          {
            breakpoint: 400,
            settings: {
              slidesToShow: 2,
            },
          },

          {
            breakpoint: 665,
            settings: {
              slidesToShow: 3,
            },
          },

          {
            breakpoint: 875,
            settings: {
              slidesToShow: 4,
            },
          },

          {
            breakpoint: 1140,
            settings: {
              slidesToShow: 5,
            },
          },
        ],
      },

      images: [],

      // images: [
      //   "/uploads/small/Finn-1.jpg",
      //   "/uploads/small/Finn-2.jpg",
      //   "/uploads/small/Finn-3.jpg",
      //   "/uploads/small/Henrik-1.JPG",
      //   "/uploads/small/Henrik-2.JPG",
      //   "/uploads/small/Henrik-3.JPG",
      //   "/uploads/small/Katrine-1.JPG",
      //   "/uploads/small/Katrine-2.JPG",
      //   "/uploads/small/Kirsten-1.JPG",
      //   "/uploads/small/Kirsten-2.JPG",
      //   "/uploads/small/Kirsten-3.JPG",
      //   "/uploads/small/Kirsten-4.JPG",
      //   "/uploads/small/Rasmus-1.JPG",
      //   "/uploads/small/Rasmus-2.JPG",
      //   "/uploads/small/Sonja-1.jpg",
      //   "/uploads/small/Sonja-2.jpg",
      //   "/uploads/small/Sonja-3.jpg",
      // ],
      index: null,
    };
  },
};
</script>

<style scoped lang="scss">
.agile:hover {
  cursor: grab;
}

.agile:active {
  cursor: grabbing;
}

img {
  height: 135px;
  width: 200px;
  border-radius: 5px;
  object-fit: cover;
  margin: 0 auto;
}
</style>
