<template>
  <NuxtLink to="/" class="logo">
    <img src="/img/logo2.svg" alt="Logo" />
  </NuxtLink>
</template>

<script>
export default {
  name: "Logo",
};
</script>

<style scoped lang="scss">
img {
  height: 125px;
  width: 125px;
}
</style>
