<template>
  <div>
    <!-- Desktop -->
    <nav class="desktop-nav">
      <NuxtLink to="/">Forside</NuxtLink>
      <NuxtLink to="/om-mig">Om mig</NuxtLink>
      <NuxtLink to="/priser">Priser & ydelser</NuxtLink>
      <NuxtLink to="/galleri">Galleri</NuxtLink>
      <NuxtLink to="/kontakt">Kontakt</NuxtLink>

      <client-only>
        <a href="#" v-if="$auth.loggedIn" @click="handleLogout"> Log ud </a>
        <!-- <NuxtLink v-else to="/login">Login</NuxtLink> -->
      </client-only>
    </nav>

    <!-- Mobile -->
    <client-only>
      <nav class="mobile-nav">
        <PushMenu
          :isOpen="openBurgerMenu"
          @click.native="handleBurgerMenu"
          class="tk-burger"
          :right="true"
          noOverlay
        >
          <NuxtLink to="/">Forside</NuxtLink>
          <NuxtLink to="/om-mig">Om mig</NuxtLink>
          <NuxtLink to="/priser">Priser & ydelser</NuxtLink>
          <NuxtLink to="/galleri">Galleri</NuxtLink>
          <NuxtLink to="/kontakt">Kontakt</NuxtLink>

          <a href="#" v-if="$auth.loggedIn" @click="handleLogout"> Log ud </a>
        </PushMenu>
      </nav>
    </client-only>
  </div>
</template>

<script>
import Swal from "sweetalert2";

export default {
  name: "Navigation",

  data() {
    return {
      openBurgerMenu: false,
    };
  },

  methods: {
    handleLogout() {
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 2500,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        },
      });

      this.$auth.logout();

      Toast.fire({
        icon: "success",
        title: "Logget ud!",
      });
    },

    handleBurgerMenu() {
      this.openBurgerMenu = !this.openBurgerMenu;
    },
  },
};
</script>

<style scoped>
.mobile-nav {
  display: none;
}
@media only screen and (max-width: 675px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}
</style>
