<template>
  <div class="skeleton" :style="`height:${height}px`"></div>
</template>

<script>
export default {
  name: "Skeleton",
  props: {
    height: Number,
  },
};
</script>

<style scoped lang="scss">
.skeleton {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background-color: #dddbdd;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    animation: shimmer 1.5s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
</style>
